<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.sk42.tradeodata">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.accessory" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Центральная Стройбаза"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:replace="android:label">
        <activity
            android:name=".Activities.MainActivity"
            >
            >
            activity: android:windowSoftInputMode="stateHidden"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Settings.SettingsActivity">
            activity: android:windowSoftInputMode="stateHidden"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Document.DocumentActivity">
            activity: android:windowSoftInputMode="stateHidden"
        </activity>
        <activity android:name=".Activities.Documents_List.DocList_Activity" />
        activity: android:windowSoftInputMode="stateHidden"
        <activity android:name=".Activities.ProductsList.ProductsListActivity">
            activity: android:windowSoftInputMode="stateHidden"
        </activity>
        <activity android:name=".Activities.Document.QtyInputActivity">
            android:windowSoftInputMode="stateHidden"
        </activity>
        <activity android:name=".Activities.Product.ProductActivity">
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.DayNight"</activity>

        <service
            android:name=".Services.CommunicationWithServer"
            android:exported="false" />
        <service
            android:name="com.generalscan.bluetooth.connect.ATService"
            android:enabled="true" />

        <!-- This service is only used on devices with API v17+ -->
    </application>

</manifest>